/storage/
docker/submission
docker/packages
/dist/*
.idea
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.db
/model_orchestrator/data/orchestrator.yml

.devdbrc

.env
.env.setup

/models.dev.yml
/orchestrator.dev.db
/orchestrator.dev.yml
