services:
  model-orchestrator:
    container_name: "${COMPOSE_PROJECT_NAME}"
    build:
      context: .
    restart: unless-stopped
    ports:
      - "${MODEL_ORCHESTRATOR_PORT}:9091"
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?error}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?error}
      AWS_DEFAULT_REGION: ${AWS_REGION:-eu-west-1}
    volumes:
      - ./deployment/data:/app/data
      - ./deployment/config/:/app/config/
    command: [ "--configuration-file", "/app/config/orchestrator.yml" ]
