services:
  model-orchestrator:
    image: 728958649654.dkr.ecr.eu-west-1.amazonaws.com/model-orchestrator
    container_name: model-orchestrator
    restart: unless-stopped
    ports:
      - "9091:8000"
    env_file:
      - .env
    environment:
      - AWS_REGION=eu-west-1
    network_mode: "host"
    volumes:
      - ~/.aws:/root/.aws
      - ~/data:/data # workdir is /app
    command:
      - "--configuration-file"
      - "/data/orchestrator.yml"
    depends_on:
      - webto3
