services:
  model-orchestrator:
    build:
      context: /home/ubuntu/code/model-orchestrator
      dockerfile: Dockerfile
    container_name: model-orchestrator
    restart: unless-stopped
    entrypoint: ["newrelic-admin", "run-program"]
    command: ["model-orchestrator", "start", "--configuration-file", "/data/orchestrator.yml"]
    ports:
      - "9091:8000"
    env_file:
      - .env.models-orchestrator
    environment:
      - AWS_REGION=eu-west-1
    network_mode: "host"
    volumes:
      - ~/.aws:/root/.aws
      - ~/data:/data
